/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

body {
  background-color: #141318;
  color: white;
  display: flex;
  margin-top: 10px;
}

main {
  background-color: #1c1d21;
  flex-grow: 1;
  padding: 20px 20px;
  border-top-left-radius: 10px;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 18px;
  margin-bottom: 5px;
}
header {
  margin-bottom: 25px;
}

/* sidebar */
.sidebar {
  width: 13%;
  padding: 0px 10px;
  background-color: #141318;
}

.sidebar img {
  border-radius: 50%;
  padding: 6px 0;
}

img[src="./img/logo.webp"] {
  border-radius: 0%;
}

/* header */

.friends {
  display: flex;
  gap: 10px;
}
.bar {
  background-color: #363a43;
  padding: 4px 5px;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
}

.add.bar {
  font-size: 14px;
  flex-grow: 1;
}

.search.bar {
  border-radius: 50%;
  min-width: 18px;
  min-height: 18px;
}
/* chat section */

.chat {
  display: flex;
  flex-direction: column;
  gap: 23px;
  color: #82828e;
}

.profile-picture {
  display: inline;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  border-radius: 50%;
}

.profile-name {
  line-height: 40px;
  vertical-align: middle;
}
